@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-header-aside-dark: theme(colors.gray.900);
  --color-header-aside: theme("--color-white");
  --color-light-font: theme("--color-black");
  --color-dark-font: theme("--color-white")
}

@layer components {
  .card {
    @apply p-3 space-y-2 dark:text-dark-font dark:bg-header-aside-dark rounded-md shadow-md overflow-hidden bg-white
  }
}